.footer {
  clear: both;
  background: #d5dbb3;
  color: black;
  padding: 0;
  text-align: center;
  line-height: normal;
  margin-top: 20px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.footer-paragraph {
  padding-top: 20px;
}
